.promo
	min-height: 100vh
	position: relative
	background: url('../img/main.jpg') center center/cover no-repeat
	background-attachment: fixed
	padding-top: 255px
	padding-left: 20px
	&__title
		width: 600px
		margin-top: 10px
	&__subtitle
		position: relative
		padding-left: 10px
		z-index: 2
		@include circle	
	&__buttons
		margin-top: 25px
		display: flex
		align-items: center
		justify-content: space-between
		width: 400px
	&__link
		color: $black
		text-decoration: none
		text-align: center
		&:nth-child(2)
			margin-left: 35px
			





