.promo
	min-height: 100vh
	position: relative
	background: url('../img/main.jpg') center center/cover no-repeat
	background-attachment: fixed
	padding-top: 255px
	padding-left: 20px
	&__title
		width: 600px
		margin-top: 10px
		transform: translate(0px, -120%)
		opacity: 0
		transition: all 0.8s ease 0.4s
		&.active
			transform: translate(0px, 0%)
			opacity: 1
			transition: all 0.8s ease 0.4s
	&__subtitle
		position: relative
		padding-left: 10px
		z-index: 2
		@include circle
		transform: translate(0px, -120%)
		opacity: 0
		transition: all 0.8s ease 0s
		&.active
			transform: translate(0px, 0%)
			opacity: 1
			transition: all 0.8s ease 0s	
	&__buttons
		margin-top: 25px
		display: flex
		align-items: center
		justify-content: space-between
		width: 400px
		transform: translate(0px, -120%)
		opacity: 0
		transition: all 0.8s ease 0.8s
		&.active
			transform: translate(0px, 0%)
			opacity: 1
			transition: all 0.8s ease 0.8s
	&__link
		color: $black
		text-decoration: none
		text-align: center
		&:nth-child(2)
			margin-left: 35px
			





