.skills
	padding-top: 100px
	&__subtitle
		position: relative
		text-align: center
		@include circle
		&::before
			left: 50%
			transform: translateX(-50%)
	&__title
		text-align: center
	&__wrapper
		margin-top: 60px
		display: grid
		grid-template: repeat(2, 270px) / repeat(4, 270px)
		grid-auto-rows: 270px
		column-gap: 13px
		row-gap: 13px
	&__item
		border: 1px solid #000
		padding: 30px
		&_img
			text-align: center
			height: 72px
		&_title
			font-weight: 700
			font-size: 14px
			margin-top: 20px
		&_text
			font-size: 12px
			margin-top: 15px
	&__rating
		margin: 60px 0
		display: grid
		grid-template: repeat(2, 70px) / repeat(3, 350px)
		grid-auto-rows: 270px
		column-gap: 45px
		row-gap: 30px
		&_item
			display: grid
			grid-template: minmax(21px, auto) 14px / 310px 40px
			justify-content: center
			align-items: center
		&_title
			position: relative
			@include circle
			padding: 3px 0 0 13px
		&_counter
			font-size: 14px
			font-weight: bold
		&_line
			width: 350px
			height: 14px
			background-color: #E8E4DE
			border-radius: 4px
			span
				display: block
				height: 100%
				background-color: $main
				border-radius: 4px

				


